.example-woman {
  margin-bottom: 82px;
}

.example-woman__title {
  position: relative;

  margin-bottom: 104px;

  text-align: center;
  font-family: 'OpenSans';
  font-size: 32px;

  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 50px;
    height: 4px;

    background-color: #bfd1c5;
  }
}

.example-woman__photos {
  display: flex;
  min-height: 41.5vw;
}

.example-woman__photo {
  min-height: 41.5vw;
  width: 25%;
}

.example-woman__photo-1 {
  background: url('../images/woman-1.jpg') no-repeat center;
  background-size: contain;
}

.example-woman__photo-2 {
  background: url('../images/woman-2.jpg') no-repeat center;
  background-size: contain;
}

.example-woman__photo-3 {
  background: url('../images/woman-3.jpg') no-repeat center;
  background-size: contain;
}

.example-woman__photo-4 {
  background: url('../images/woman-4.jpg') no-repeat center;
  background-size: contain;
}
