.form {
  padding: 0 18px;
}

.form__title {
  position: relative;
  margin-bottom: 44px;

  text-align: center;
  font-family: 'OpenSans';
  font-size: 32px;

  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 50px;
    height: 4px;

    background-color: #bfd1c5;
  }
}

.form__desc {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;

  font-family: 'PlayfairDisplay';
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
}

.form__container-input {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;

  text-align: center;
}

.form__container-input input {
  display: block;
  max-width: 374px;
  width: 100%;
  height: 51px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 20px;

  font-family: 'PlayfairDisplay';
  font-size: 16px;
  color: #000000;

  border: solid 1px #c7c7c7;
}

.form__drinks-title {
  margin-bottom: 50px;

  font-family: 'PlayfairDisplay';
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  color: #000000;
}

.form__drinks-container {
  display: flex;
  justify-content: space-between;

  max-width: 517px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.form__wine {
  max-width: 240px;
  width: 100%;
}

.form__wine-title {
  margin-bottom: 20px;

  font-family: 'OpenSans';
  font-size: 26px;
}

.form__wine-item {
  position: relative;
  margin-bottom: 15px;
}

.form__wine-item input {
  display: none;
}

.form__wine-item input:checked + .form__item-checkbox {
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 2px;
    width: 15px;
    height: 2px;
    background: #979797;
    transform: rotate(-45deg);
  }

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 2px;
    width: 15px;
    height: 2px;
    background: #979797;

    transform: rotate(45deg);
  }
}

.form__strong-item input:checked + .form__item-checkbox {
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 2px;
    width: 15px;
    height: 2px;
    background: #979797;
    transform: rotate(-45deg);
  }

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 2px;
    width: 15px;
    height: 2px;
    background: #979797;

    transform: rotate(45deg);
  }
}

.form__item-checkbox {
  position: absolute;
  top: -2px;

  display: block;
  width: 22px;
  height: 22px;
  border: solid 1px #979797;


}

.form__wine-item-text {
  position: relative;
  margin-left: 35px;
}


.form__strong {
  max-width: 209px;
  width: 100%;
}

.form__strong-title {
  margin-bottom: 20px;

  font-family: 'OpenSans';
  font-size: 26px;
}

.form__strong-item {
  position: relative;
  margin-bottom: 15px;
}

.form__strong-item-text {
  margin-left: 35px;
}

.form__strong-item input {
  display: none;
}

@media (max-width: 510px) {
  .form__drinks-container {
    flex-direction: column;
    align-items: center;
  }

  .form__wine {
    max-width: 270px;
    margin-bottom: 30px;
  }

  .form__strong {
    max-width: 270px;
  }
}
