.grass-1 {
  width: 100%;
  min-height: 17.3vw;
  margin-bottom: 100px;

  background: url('../images/grass-1.jpg') no-repeat center;
  background-size: cover;
}

.grass-2 {
  min-height: 17.3vw;
  margin-bottom: 150px;

  background: url('../images/grass-2.jpg') no-repeat center;
  background-size: cover;
}

.grass-3 {
  min-height: 17.3vw;
  margin-bottom: 150px;

  background: url('../images/grass-3.jpg') no-repeat center;
  background-size: cover;
}

@media (max-width: 560px) {
  .grass-1 {
    margin-bottom: 70px;
  }

  .grass-2 {
    margin-bottom: 100px;
  }

  .grass-3 {
    margin-bottom: 100px;
  }
}
