.history {
  padding: 0 18px;
}

.history__title {
  position: relative;

  margin-bottom: 44px;

  text-align: center;
  font-size: 32px;
  color: #000000;

  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 50px;
    height: 4px;

    background-color: #bfd1c5;
  }
}

.history__desc {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 120px;

  font-family: 'PlayfairDisplay';
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  color: #000000;
}

@media (max-width: 560px) {
  .history__desc {
    margin-bottom: 70px;
  }
}
