.page-footer {
  padding: 0 18px;
  padding-bottom: 75px;
}

.page-footer__coordinator {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 10px;

  font-family: 'PlayfairDisplay';
  font-size: 16px;
  text-align: center;
}

.page-footer__email {
  font-family: 'PlayfairDisplay';
  font-size: 14px;
  text-align: center;
}

.page-footer__email a {
  color: #000;
}

.page-footer__coordinator-br-tel {
  display: none;
}

@media (max-width: 525px) {
  .page-footer__coordinator-br {
    display: none;
  }
}

@media (max-width: 449px) {
  .page-footer__coordinator-br-tel {
    display: block;
  }
}
