.page-header {
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 12%;
  height: 100vh;
  margin-bottom: 100px;

  background: url('../images/header-bg.jpg') no-repeat center;
  background-size: cover;
  background-position: 70%;
}

.page-header__logo {
  width: 415px;
  height: 273px;
  opacity: 1;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
}

.page-header__tick {
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translateX(-50%);

  width: 16px;
  height: 9px;

  background: url('../images/tick.svg') no-repeat center;
}

@media(max-width: 900px) {
  .page-header__logo {
    width: 365px;
    height: 223px;
  }
}

@media(max-width: 700px) {
  .page-header {
    padding-left: 10%;
  }

  .page-header__logo {
    width: 315px;
    height: 173px;
  }
}

@media(max-width: 560px) {
  .page-header {
    margin-bottom: 70px;
  }
}

@media(max-width: 470px) {
  .page-header {
    padding-left: 0;
  }
}
