doctype html
head
  title wedding
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
body
  header.page-header
    .page-header__bg
      .page-header__logo
      .page-header__tick
  main.page-main
    .history
      .history__title
        | История любви
      .history__desc
        | Друзья, верите ли вы в судьбу? Всех этот вопрос, как правило ставит в тупик. Но их историю без преувеличения можно назвать удивительной. Аня и Лёша. На тот момент их объединяли общие друзья и одна случайная встреча. Это сложно было назвать знакомством. Скорее так: увиделись и робко, но взаимно, улыбнулись друг другу. Семь месяцев спустя они опять встретились, но при других обстоятельствах. И эта встреча, 19 мая 2015 года, ознаменовала момент начала их истории, которая продолжается по сей день.  6 Августа 2016 года, в провинции Комо, Леша сделал Ане предложение. И теперь они приглашают Вас, дорогие друзья, 25 мая 2017 года в отель Олд Хаус, где Аня и Леша вместе с Вами начнут писать новую главу их истории.

    .place
      .place__photo
      .place__desc
        .place__desc-title
          | Загородный клуб «Солнечный»
        .place__desc-time
          | 25 августа 2017
        .place__desc-address
          | Восточное ш. 17Б, г. Батайск, Ростовская область
    .map
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1356.980401764764!2d39.77656990205614!3d47.13903396667088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3bcb9bfb31e15%3A0xb75fe2228a2a729e!2z0JfQsNCz0L7RgNC-0LTQvdGL0Lkg0JrQu9GD0LEg0KHQvtC70L3QtdGH0L3Ri9C5!5e0!3m2!1sru!2sru!4v1498227687911" width="100%" height="100%" )
    form.form(action="#" method="post")
      .form__title
        | Анкета гостя
      .form__desc
        | Заполните, пожалуйста, анкету гостя, чтобы мы смогли более точно узнать количество гостей, а также ваши предпочтения в напитках.
      .form__container-input
        input(type="text" name="name" id="name" placeholder="Имя" required)
        input(type="text" name="surname" id="surname" placeholder="Фамилия" required)
        input(type="tel" name="tel" id="tel" placeholder="Телефон")

      .form__drinks-title
        | Укажите, пожалуйста, какие напитки вы преподчитаете:
      .form__drinks-container
        .form__wine
          .form__wine-title
            | Вино
          .form__wine-item
            label
              input(type="checkbox" id="white-dry" name="white-dry")
              span.form__item-checkbox
              span.form__wine-item-text
                | Белое сухое вино
          .form__wine-item
            label
              input(type="checkbox" id="white-semisweet" name="white-semisweet")
              span.form__item-checkbox
              span.form__wine-item-text
                | Белое полусладкое вино
          .form__wine-item
            label
              input(type="checkbox" id="red-dry" name="red-dry")
              span.form__item-checkbox
              span.form__wine-item-text
                | Красное сухое вино
          .form__wine-item
            label
              input(type="checkbox" id="red-semisweet" name="red-semisweet")
              span.form__item-checkbox
              span.form__wine-item-text
                | Красное полусладкое вино
        .form__strong
          .form__strong-title
            | Крепкие напитки
          .form__strong-item
            label
              input(type="checkbox" id="whiskey" name="whiskey")
              span.form__item-checkbox
              span.form__strong-item-text
                | Виски
          .form__strong-item
            label
              input(type="checkbox" id="cognac" name="cognac")
              span.form__item-checkbox
              span.form__strong-item-text
                | Коньяк
          .form__strong-item
            label
              input(type="checkbox" id="vodka" name="vodka")
              span.form__item-checkbox
              span.form__strong-item-text
                | Водка
          .form__strong-item
            label
              input(type="checkbox" id="rum" name="rum")
              span.form__item-checkbox
              span.form__strong-item-text
                | Ром
      a.btn.form__btn(href="#")
        | ОТПРАВИТЬ
    .grass-1

    .dress-code
      .dress-code__title
        | Дресс-код
      .dress-code__title-desc
        | Нам будет очень приятно, если вы поддержите цветовую
        br.dress-code__title-desc-br
        | палитру нашего праздника в ваших нарядах.
      .container.dress-code__container
        .dress-code__color.dress-code__color-1
        .dress-code__color.dress-code__color-2
        .dress-code__color.dress-code__color-3
        .dress-code__color.dress-code__color-4
        .dress-code__color.dress-code__color-5
        .dress-code__color.dress-code__color-6
        .dress-code__color.dress-code__color-7
        .dress-code__color.dress-code__color-8
        .dress-code__color.dress-code__color-9
        .dress-code__color.dress-code__color-10
        .dress-code__color.dress-code__color-11
        .dress-code__color.dress-code__color-12
    .example-woman
      .example-woman__title
        | Пример женских нарядов
      .example-woman__photos
        .example-woman__photo.example-woman__photo-1
        .example-woman__photo.example-woman__photo-2
        .example-woman__photo.example-woman__photo-3
        .example-woman__photo.example-woman__photo-4
    .example-man
      .example-man__title
        | Пример мужских нарядов
      .example-man__photos
        .example-man__photo.example-man__photo-1
        .example-man__photo.example-man__photo-2
        .example-man__photo.example-man__photo-3
        .example-man__photo.example-man__photo-4
    .gift
      .gift__title
        | Идеи подарков
      .gift__desc
        | В качестве подарка, будем благодарны за любой, даже символический, вклад в бюджет молодой семьи. Если вы хотите сделать памятный подарок, пожалуйста, укажите это на специальном стикере, который вы найдете на банкете.
    .grass-2
    .good-bay
      .good-bay__title
        | До встречи на свадьбе!
      .good-bay__desc
        | Пожалуйста, не забудьте заполнить анкету гостя, для нас это очень важно.
      a.btn.good-bay__btn(href="#")
        | ЗАПОЛНИТЬ
    .grass-3
    .hashtag
      .hashtag__title
        | Хэштег свадьбы: #borisandelena
      .hashtag__desc
        | Все фотографии, сделанные вами на свадьбе с #vintagestoryinprovince, автоматически будут попадать сюда. Следите за обновлениями!
    .all-photos
  footer.page-footer
    .page-footer__coordinator
      | Если у вас возникнут вопросы, вы можете обратиться к нашему
      br.page-footer__coordinator-br
      |  координатору Анастасии:  +7 (928) 226-56-45
    .page-footer__email
      | Или напишите на нашу почту:
      =" "
      a(href="mailto:.....@borisandelena.love")
        | .....@borisandelena.love
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');
