.btn {
  display: block;
  width: 200px;

  padding: 15px 53px 14px;
  margin: 0 auto;
  margin-bottom: 100px;

  font-family: 'OpenSans-reg';
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #000000;

  border: solid 1px #c7c7c7;
}
